
.header{
   
    display:flex;
    justify-content:space-between;
    padding:5px;
    margin:5x;
    

}
.event{
    display:flex;
   
   
}
.logo{
    margin-left: 70px;
}

.item
{
    width: 100px;
        height: 100px;
       padding:3px;
        margin: 10px;
        
}
.active{
    color:deepskyblue;
    font-weight: bold;
}