.float{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  

}
.image{
    background-size: cover;
    background-position: center;
    
}