
.float {
    position: relative;
    display: inline-block;
    /* Ensures container fits its content */
  }
  
.Image{
    background-size: cover;
    background-position: center;
    margin-left: 50px;
    margin-right: 50px;
    filter: blur(2px);
  
    
}
.overlay-text {
    position: absolute;
    top: 20%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Center the text */
    /* Background color with opacity */
    padding: 10px; /* Adjust as needed */
    border-radius: 5px; /* Rounded corners */
    z-index: 1;
    text-align: center;
  }
  .overlay-button {
  position: absolute;
  padding: 10px 20px ;
  background-color: #318CE7 ;
  text-align: center;
  width:70px;
  color: whitesmoke;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  
}
.button1 {
  top: 80%;
  left: 180px; /* Adjust the left position for Button 1 */
  transform: translate(1, -50%);
}

.button2 {
  top: 80%;
  right: 180px; /* Adjust the right position for Button 2 */
  transform: translate(0, -50%);
}