.Register-full {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100vw;
  }
  
  .Register {
    text-align: center;
  }
  
  .login-form {
    margin-bottom: 15px;
  }
  
  .signin {
    margin-top: 15px;
  }
  
  /* Optional: Center the button horizontally */
  button.signin {
    display: block;
    margin: 0 auto;
  }